.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  list-style: none;
}

.gallery li {
  padding: 10px;
  margin: 10px;
  background: white;
  box-shadow: 0px 1px 1px 1px #c5c4c4c0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: 1s;
}

.gallery li:hover {
  transform: scale(1.2);
  position: absolute;
  z-index: 999;
}

.gallery li img {
  width: 100%;
}

.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.overlay-modal-bg {
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  text-align: center;
}

.reset-Button {
   border: none;
   margin: 0;
   padding: 0;
   width: auto;
   overflow: visible;

   background: transparent;

   /* inherit font & color from ancestor */
   color: inherit;
   font: inherit;

   /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
   line-height: normal;

   /* Corrects font smoothing for webkit */
   -webkit-font-smoothing: inherit;
   -moz-osx-font-smoothing: inherit;

   /* Corrects inability to style clickable `input` types in iOS */
   -webkit-appearance: none;
 }

/* Remove excess padding and border in Firefox 4+ */
.reset-Button::-moz-focus-inner {
   border: 0;
   padding: 0;
 }

.closeButton {
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  transition: 0.1s;
}

.closeButton:hover {
  transform: scale(1.05);
}

body {
  background: #0D1440;
}

label {
  color: white;
}