.gallery {
  list-style: none;

}

.gallery ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery li {
  width: 300px;
  height: 200px;
  margin: 30px;
  background: white;
  box-shadow: 0 2px 2px 2px #c5c4c4c0;
  border-radius: 5px;
  overflow: hidden;

  display: inline-flex;
  text-align: center;

}

.gallery li:hover {
  position: relative;
  z-index: 999;
}

.gallery li .img-container {
  width: 250px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/


}

.gallery li .img-container:hover {
  transition: 0.2s;
  transform: scale(1.10);
}



.gallery li .img-container img {
  /*width: 250px;*/
  /*height: 150px;*/
  /*margin: auto;*/

}

.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.overlay-modal-bg {
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  text-align: center;
}

.reset-Button, .footer__loadMore, .gallery__inputButton {
   border: none;
   margin: 0;
   padding: 0;
   width: auto;
   outline: none;
   overflow: visible;

   background: transparent;

   /* inherit font & color from ancestor */
   color: inherit;
   font: inherit;

   /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
   line-height: normal;

   /* Corrects font smoothing for webkit */
   -webkit-font-smoothing: inherit;
   -moz-osx-font-smoothing: inherit;

   /* Corrects inability to style clickable `input` types in iOS */
   -webkit-appearance: none;
 }

/* Remove excess padding and border in Firefox 4+ */
.reset-Button::-moz-focus-inner {
   border: 0;
   padding: 0;
 }

.closeButton, .footer__loadMore, .gallery__inputButton {
  color: white;
  font-size: 1.484em;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  transition: 0.1s;
}

.footer__loadMore, .gallery__inputButton {
  color: black;
  border: 1px solid black;
  margin: 0 0 50px 0;
}

.closeButton:hover, .footer__loadMore:hover, .gallery__inputButton:hover {
  transform: scale(1.05);
}

label {
  color: white;
}

.gallery__outerWrapper {
    display: flex;
    justify-content: center;
}

.gallery__innerWrapper {
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

ul {
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.my-div {
  width: 1500px;
  height: 696px;
}

.fi-flickr {
  font-size: 1em;
  width: 50px;
  color: black;
  padding-left: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menuWrapper {
  width: 100%;
  height: 80px;
  background: transparent;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menuWrapper h1 {
  display: inline-flex;
  font-size: 1rem;
  padding: 0 20px;
  align-items: center;
}

.header__innerWrapper {
  width: 1500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,1);
}

.header__link {
  text-decoration: none;
  padding-right: 20px;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  transition: 0.5s;
}

.header__link:hover {
  color: red;
}

.header__link--flickr {
  padding: 0;
  text-align: center;
}

.header__link--flickr i {
  padding: 0;
  padding-left: 20px;
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

@media screen and (max-width: 400px) {
  a.header__link {
    display: none;
  }
  .my-div {
    display: none;
  }

  .gallery li {
    width: 200px;
    height: 150px;
  }

  .header__menuWrapper h1, .header__innerWrapper, .overlay-modal {
    display: none;
  }
}

.gallery__label {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
}

.gallery__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__inputField {
  margin: 10px;
}